<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>
    <%-include ("./partials/header")%>

    <main class="main-main">
        <div class="div-detail-1">
            
            <div id="contenedorCarrito">
                   
            </div>
        </div>
              
        <%-include ('./partials/cartas-beneficios') %>
    </main>

         <%-include ("./partials/footer")%>

         <script src="/js/carritoCompras.js" ></script>
</body>
</html>


